---
export interface Props {
  id: string
  title: string
  img: string
}

const { title, img, id } = Astro.props
---

<a
  href={`/${id}`}
  class='hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl'
>
  <img
    class='aspect[204/324] h-full object-cover rounded'
    src={img}
    alt={`Portada del libro ${title}`}
    style={`view-transition-name: ${id}`}
  />
</a>
