---
import { books } from '../data/books'
import BookItem from './BookItem.astro'
---

<ul class='grid grid-cols-2 md:grid-cols-3 gap-3'>
  {
    books.map(({ title, img, id }) => {
      return (
        <li>
          <BookItem title={title} img={img} id={id} />
        </li>
      )
    })
  }
</ul>
